# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/plugins/NL-Denoiser/codesign-plugins.bat
src/plugins/NL-Denoiser/codesign-installer.bat
src/plugins/NL-Air/codesign-plugins.bat
src/plugins/NL-Air/codesign-installer.bat
